<div class="py-5 section text-center" >
  <div class="container" >
    <div class="row">
      <div class="col-md-12" >
        <h2>Admin Panel</h2>
      </div>
    </div>
  </div>
</div>

  <div class="py-5 text-center">
    <div class="container">
      <div class="row">

        <div ng-click="#!/home" class="col-md-4 admin-button circle glass" ><span class="admin-button-text">Create</span></div>
        <div class="col-md-4 admin-button circle glass" ><span class="admin-button-text">Update</span></div>
        <div class="col-md-4 admin-button circle glass" ><span class="admin-button-text">Delete</span></div>

      </div>
    </div>
  </div>