<div class="py-5 section text-center" >
  <div class="container" >
    <div class="row">
      <div class="col-md-12" >
        <h2>Login</h2>
      </div>
    </div>
  </div>
</div>
<div class="py-5 section text-center">
  <div class="container">
    <div class="row">
      <div class="cen-col col-md-4" >
        <div class="">
          <div class="card-body glass ">
            
            <br>
            <form name="loginUserToPortal" >
              <div class="form-group"> <label class="loginlabelfont">User Name</label><br>
              <input class="textboxglass" type="text" name="email" placeholder="email" ng-model="vm.credentials.email"> </div>
              <div class="form-group"> <label class="loginlabelfont">Password</label><br>
              <input class="textboxglass" type="password" name="password" placeholder="password" ng-model="vm.credentials.password"> </div>
              <div class="container">
                
                
                <p><a href="" ng-click="vm.onSubmit()"><img src="loginbutton.png" class="loginbutton"   alt="menu button"></a> <p>
              </div>
              
            </form>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>